:root {
    /* Brand Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --soft-black: #282623;
    --grey: #9b9a99;
    --off-white: #FAF8F7;
    --white: #fff;
    /* Font Sizes */
    --xtitle: 2.4rem;
    --title: 2rem;
    --subtitle: 1.8rem;
    --p:1.6rem;
    --small:1.4rem;
    --xs: 1.2rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth; 
}


/* 
font-family: 'DM Sans', sans-serif; 500, 700
font-family: 'Inter', sans-serif; 400, 500, 700
*/

/* Header */
.header-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    min-height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.header-logo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 150px;
    margin: 32px 0;
}
.header-logo__icon {
    width: 40px;
    height: 24px;
    margin: 0 4px;
}
.header-logo__brand {
    font-size: var(--title);
    margin: 0 4px;
    color: var(--bitcoin-orange);
}
.header__info-container {
    align-self: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
}
.header__title {
    margin-bottom: 24px;
    line-height: 2.6rem;
    font-size: var(--title);
    color: var(--off-white);
}
.header__description {
    margin-bottom: 32px;
    color: var(--soft-orange);
    font-size: var(--small);
    font-weight: 500;
}
.header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    /* padding: 15 auto 15 16; */
    width: 229px;
    height: 48px;
    font-size: var(--xs);
    font-weight: bold;
    text-decoration: none;
    color: var(--soft-black);
    background: var(--off-white);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 4px var(--grey);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 8px;
    background-image: url('../assets/icons/down-arrow.svg');
    cursor: pointer;
}

/* Main trading Section */

main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-trading-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}
.main-trading-container .main__backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url("../assets/img/Bitcoin.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-trading-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-trading-container__title h2 {
    margin-bottom: 24px;
    text-align: center;
    color: var(--bitcoin-orange);
    font-size: var(--title);
    font-weight: bold;
}
.main-trading-container__description {
    margin-bottom: 30px;
    text-align: center;
    color: #757575;
    font-size: var(--small);
    line-height: 1.6rem;
}

/* Tables Container and Carousel */
.main-tables-container {
    display: flex;
    gap: 16px;
    overflow-x: scroll; /* crea scroll eje x */
    overscroll-behavior-x: contain; /* comportamiento de scroll */
    scroll-snap-type: x proximity; /* centrar elemento de scroll eje x */
    margin: 0 26px;
}
/* .main-trading-container__table, .main-comission-container__table {
    min-width: 320px;
    height: auto;
} */
/* Currency Table */
.main-currency-table, .main-comission-table {
    position: relative;
    scroll-snap-align: center;
    min-width: 272px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    font-family: 'Inter', 'DM Sans';
}
.currency-table__title, .comission-table__title {
    margin: 12px;
    color: var(--bitcoin-orange);
    font-size: var(--subtitle);
    font-weight: bold;
    line-height: 2.3rem;
    text-align: center;
}
.main-comission-table .comission-table__title {
    color: var(--secondary-blue);
}
.currency-table__container, .comission-table__container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto 24px;
    box-shadow: 0px 1px 5px var(--grey);
    border-radius: 16px;
}
.currency-table__container table, .comission-table__container table {
    width: 100%;
    height: 100%;
}
.table__left {
    width: 40%;
    height: 39px;
    padding: 10px 12px;
    background-color: var(--white);
    font-weight: 500;
    color: var(--grey);
    font-size: var(--small);
    line-height: 1.9rem;
}
.table__right {
    width: 60%;
    height: 39px;
    padding: 10px 12px;
    text-align: right;
    background-color: var(--white);
    color: var(--soft-black);
    font-size: var(--xs);
    line-height: 1.9rem;
}

.currency-table__container .table-top--left, .comission-table__container .table-top--left {
    border-radius: 15px 0 0 0;
}
.currency-table__container .table-top--right, .comission-table__container .table-top--right {
    border-radius: 0 15px 0 0;
}
.currency-table__container .table-bottom--left, .comission-table__container .table-bottom--left {
    border-radius: 0 0 0 15px;
}
.currency-table__container .table-bottom--right, .comission-table__container .table-bottom--right {
    border-radius: 0 0 15px 0; 
}
.currency-table__container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-down.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-table__container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url('../assets/icons/trending-up.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.status-container__last-update {
    width: max-content;
    text-align: center;
    padding: 8px;
    margin: 4px auto 0;
    background: var(--soft-orange);
    border-radius: 8px;
}

.main-comission-table .status-container__last-update {
    background: var(--soft-blue);
}
.last-update__content {
    font-size: var(--xs);
    line-height: 1.5rem;
    color: var(--warm-black);
}

/* Product detail - cards Section */

.main-product__detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    min-height: 152px;
    padding: 20px 16px;
    background-color: var(--warm-black);
}
.main-product__batata-logo {
    position: absolute;
    width: 40px;
    height: 24px;
    top: -10px;
    left: calc(50% - 22px);
    background-image: url('../assets/icons/batata.svg');
}
.product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail__title h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: var(--title);
    color: var(--white);
    line-height: 2.6rem;
}
.product-detail__title p {
    margin-bottom: 32px;
    font-size: var(--small);
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* Product Cards */
/* .product-cards__container {
    width: 90%;
    text-align: center;
} */
.product-detail__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: auto;
    margin: 16px auto;
    padding: 16px;
    background-color: var(--soft-black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}
.icon-card {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.clock {
    background-image: url(../assets/icons/clock.svg);
}
.eye {
    background-image: url(../assets/icons/eye.svg)
}
.dollar {
    background-image: url(../assets/icons/dollar-sign.svg)
}
.check {
    background-image: url(../assets/icons/check-circle.svg)
}

.product-card__title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: var(--p);
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.product-card__body {
    font-size: var(--xs);
    font-weight: 500;
    font-style: normal;
    line-height: 1.8rem;
    color: var(--off-white);
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url(../assets/img/bitcoinbaby2x.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    padding-top: 66px;
    font-size: var(--title);
    font-weight: bold;
    line-height: 2.4rem;
    color: var(--white);
    text-align: center;
}

/* Plans Section */

.main-plans__container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    height: auto;
    text-align: center;
    background-color: var(--off-white);
}
.plan-title__container {
    width: 90%;
    min-width: 288px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.plans__title {
    padding-top: 64px;
    margin-bottom: 24px;
    font-weight: 700;
    font-style: normal;
    font-size: var(--title);
    color: var(--warm-black);
    line-height: 2.6rem;
}
.plan-title__container p {
    margin-bottom: 32px;
    font-size: var(--small);
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.plans-container__slider {
    display: flex;
    gap: 8px;
    height: 370px;
    overflow-x: scroll; /* crea scroll eje x */
    overscroll-behavior-x: contain; /* comportamiento de scroll */
    scroll-snap-type: x proximity; /* centrar elemento de scroll eje x */
}
.plans-container__card {
    position: relative;
    scroll-snap-align: center; /* Animación que lleva la tarjeta al centro */
    width: 70%;
    min-width: 210px;
    max-width: 320px;
    min-height: 247px;
    padding: 24px 16px;
    margin: 50px auto 8px;
    background: var(--white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 8px;
}
.left-price-card {
    margin-left: 50px;
}
.right-price-card {
    margin-right: 50px;
}
.recomendado {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    width: 120px;
    height: 32px;
    padding: 6px;
    font-size: var(--xs);
    color: var(--white);
    background-color: var(--bitcoin-orange);
    border-radius: 8px;
}
.left-price-card .recomendado {
    padding: 5px;
    color: var(--warm-black);
    font-weight: bold;
    background-color: var(--white);
    border: 1px solid var(--bitcoin-orange);
}
.plan-card__title {
    margin: 16px 0;
    font-size: var(--p);
    font-weight: bold;
    line-height: 1.8px;
    color: var(--warm-black);
}
.plan-card__price {
    margin: 8px;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--warm-black);
    line-height: 5.3rem;
}
.plan-card__price sup {
    font-size: var(--xs);
    font-weight: 300;
    letter-spacing: 1px;
}
.plan-card__saving {
    font-size: var(--xs);
    color: var(--grey);
}
.plan-card__cta {
    width: 92%;
    height: 48px;
    margin-top: 16px;
    font-family: 'DM Sans', sans-serif;
    font-size: var(--small);
    font-weight: bold;
    background: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    border-radius: 4px;
    line-height: 1.8rem;
    cursor: pointer;
}
.plan-card__cta span {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('../assets/icons/orange-right-arrow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
}
footer {
    display: flex;
    width: 100%;
    height: 150px;
    padding: 40px 24px;
    background: var(--bitcoin-orange);
}
footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .footer-left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer-left li {
    margin: 10px 0;
    cursor: pointer;
}
.footer-left a {
    text-decoration: none;
    color: var(--white);
}