.header-logo__brand {
  font-size: 2.8rem;
}
.header__title {
  font-size: 3.6rem;
  line-height: 4rem;
}
.header__description {
  font-size: var(--p);
}
.header__button {
  width: 260px;
  font-size: var(--small);
}
.product-cards__container {
  display: flex;
  flex-wrap: wrap;
  width: 930px;
  margin: 0 auto;
}
.main-tables-container {
  display: flex;
  justify-content: center;
  width: 930px;
  margin: 0 auto;
}
.plans-container__slider {
  justify-content: center;
}
.bitcoin-img-container h2, .main-trading-container__title h2, .product-detail__title h2, .plans__title{
  font-size: var(--xtitle);
}
.main-trading-container__description, .product-detail__title p, .plan-title__container p {
  font-size: var(--p);
}
footer {
  padding: 40px 50px;
}
.footer-left {
  justify-content: flex-start;
}
.footer-right {
  justify-content: flex-end;
}
footer img {
  width: calc(64px * 1.5);
}